.rounds {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: space-between;
    padding: 20px;
    /* background-color: dodgerblue; */
    position: fixed;
    top: 40%;
    align-items: center;
    right: 50px;
}

.line1 {
    width: 20px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
}

.rounds ul {
    display: flex;
    place-items: center;
    flex-direction: column;
    transition: 0.3s;
    /* height: 50%; */
    /* border: 2px solid black; */
    margin-top: 80px;
}

.rounds ul li a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: block;
    cursor: pointer;
    margin-top: 10px;
}

.rounds ul li a.active {
    width: 30px;
    height: 30px;

}

.rounds ul li a:hover {
    color: burlywood;
}